img,
logo-footer {
    width: 150px;
}

.jumbotron {
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(255, 255, 255, 1)), url(Asset/img/gerai-mixue-di-medan-2_169.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(255, 255, 255, 1)), url(Asset/img/Mixue-Jakarta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.milestone {
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;

}

.promo {
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(255, 255, 255, 1)), url(Asset/img/Mixue-Jakarta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}

.ab {
    text-shadow: 0px 0px 20px white;
}